@import '~scss/components/mixins/index';

.navbar {
  @include blue-light-lighten-gradient;
}

.nav-item a {
  font-weight: 700;
}

// .guides-nav  {
//   margin-bottom: 1em;
//   li.nav-item {
//     cursor: pointer;
//     a {
//       text-transform: capitalize;
//       background: $blue;
//       padding: .5em 1em;
//       @include border-shadow;
//       @include transition;
//       &:hover {
//         background: $yellow;
//       }
//     }
//   }
// }
