<div class="article-container">
  <h4>Defensive Runes</h4>
  <h6>This page is used for surviving the early game and transitioning into a utility-based tank who absorbs damage for your carries</h6>
  <app-runes-defensive-element></app-runes-defensive-element>
  <h5></h5>
  <p>Zilean can do 0 damage and still be a high priority target in fights because of his revive and massive crowd control.</p>
  <p>By forcing enemies to waste spells on you, your team's carries have an easier time during the teamfight.</p>
</div>
