<div class="article-container">
  <h4>Defensive Runes</h4>
  <h6>This page is used for surviving the early game and transitioning into a utility-based tank who absorbs damage for your carries</h6>
  <app-runes-defensive-element></app-runes-defensive-element>
  <div class="content-container">

    <h4>Rune Page Highlights</h4>

    <img class="" src="../assets/images/runes/icons/resolve/resolve-keystone-3.png" alt="Summon Aery Keystone Icon"/>
    <h5>Summon Aery</h5>
    <p>Summon Aery is a solid keystone for supports with poke and buffs. The extra damage early in lane does add up, and also the shield triggers when you use Time Warp on allies. This can be used to stop a small amount of damage to an ally or proc certain items like <img class="image-inline-sm" src="./assets/images/items/athenes-unholy-grail.png" alt="Athene's Unholy Grail Icon"/> Athene's Unholy Grail or <img class="image-inline-sm" src="./assets/images/items/ardent-censer.png" alt="Ardent Censer Icon"/> Ardent Censer.</p>

    <img class="" src="../assets/images/runes/icons/resolve/resolve-slot-1-3.png" alt="Manaflow Band Icon"/>
    <h5>Manaflow Band</h5>
    <p>Manaflow Band is incredible because it gives a free spell and returns a percentage of your empty mana every minute. This is crucial in lane where you don't have mana or mana regen items.</p>

    <div>
      <img class="" src="../assets/images/runes/icons/resolve/resolve-slot-2-1.png" alt="Transcendence Icon"/>
      <img class="" src="../assets/images/runes/icons/resolve/resolve-slot-2-2.png" alt="Transcendence Icon"/>
      <img class="" src="../assets/images/runes/icons/resolve/resolve-slot-2-3.png" alt="Transcendence Icon"/>
    </div>
    <h5>Transcendence</h5>
    <p>Transcendence is an all-star because it gives a free 10% CDR, and turns extra CDR into AP. This is great because it accelerates the pace toward 40% CDR, and adds value for exceeding the CDR cap of 40%.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-1-2.png" alt="Zombie Ward Icon"/>
    <h5>Manaflow Band</h5>
    <p>Manaflow Band is incredible because it gives a free spell and returns a percentage of your empty mana every minute. This is crucial in lane where you don't have mana or mana regen items.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-2-1.png" alt="Ingenious Hunter Icon"/>
    <h5>Transcendence</h5>
    <p>Transcendence is an all-star because it gives a free 10% CDR, and turns extra CDR into AP. This is great because it accelerates the pace toward 40% CDR, and adds value for exceeding the CDR cap of 40%.</p>
  </div>
</div>
