// GRADIENTS FOR BACKGROUND CONTAINERS //
// From: https://uigradients.com //

@mixin white-gradient {
  background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin grey-gradient {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin red-gradient {
  background: #f85032; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e73827, #f85032); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin red-lighten-gradient {
  background: #f85032; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#e73827, 10%), lighten(#f85032, 10%)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#e73827, 10%), lighten(#f85032, 10%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin red-dark-gradient {
  background: #F00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#F00000, 10%) , lighten(#e73827, 5%)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#F00000, 20%) , lighten(#e73827, 5%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin orange-gradient {
  background: #E44D26; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#E44D26, 5%) , lighten(#F16529, 5%)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#E44D26, 5%) , lighten(#F16529, 5%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin yellow-gradient {
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin yellow-lighten-gradient {
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#ffb347, 20%) , lighten(#ffcc33, 20%)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#ffb347, 20%) , lighten(#ffcc33, 20%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin green-gradient {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #62c633 , #64f38c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #62c633 , #64f38c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin blue-light-gradient {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin blue-light-lighten-gradient {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#0072ff, 25%), lighten(#00c6ff, 25%) ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#0072ff, 25%), lighten(#00c6ff, 25%) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin blue-dark-gradient {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#004e92  ,#000428 ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92  ,#000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:$white;
}

@mixin purple-gradient {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F0743 , #41295a ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F0743 , #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin purple-lighten-gradient {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, lighten(#2F0743, 15%) , lighten(#41295a, 15%) ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, lighten(#2F0743, 15%) , lighten(#41295a, 15%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin dark-gradient {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin time-bomb-gradient {
  background: $time-bomb-blue-bg; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, darken($time-bomb-blue-bg, 20%) , $time-bomb-blue-bg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, darken($time-bomb-blue-bg, 20%)  , $time-bomb-blue-bg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin time-warp-gradient {
  background: $time-warp-blue-bg; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, darken($time-warp-blue-bg, 40%) , $time-warp-blue-bg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, darken($time-warp-blue-bg, 40%)  , $time-warp-blue-bg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin lcs-gradient {
  background: #fceabb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f8b500 , #fceabb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f8b500 , #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	//background: opacify($yellow-bg, .15);
	ul li img {@include box-shadow-alt;}
}

@mixin scz-gradient {
  background: #B2FEFA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B2FEFA , #0ED2F7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B2FEFA , #0ED2F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// FADE BACKGROUNDS

@mixin background-light-bg {
  background: rgba(191, 238, 255, .9); // $light-bg: 
}
