<div class="article-container">
  <h4>Utility Runes</h4>
  <h6>This page works best for players who look to get ahead in lane and transition into a "traditional" support role</h6>
  <app-runes-utility-element></app-runes-utility-element>
  <div class="content-container">

    <h4>Rune Page Highlights</h4>

    <!-- Summon Aery -->
    <img [src]="primaryRune?.keystone[0].image" alt="{{primaryRune?.keystone[0].name}}">
    <h5>{{  primaryRune?.keystone[0].name }}</h5>
    <p [innerHTML]="primaryRune?.keystone[0].comments"></p>

    <!-- Manaflow Band -->
    <img [src]="primaryRune?.slot1[1].image" alt="{{primaryRune?.slot1[1].name}}">
    <h5>{{  primaryRune?.slot1[1].name }}</h5>
    <p [innerHTML]="primaryRune?.slot1[1].comments"></p>

    <!-- Transcendence -->
    <img [src]="primaryRune?.slot2[0].image" alt="{{primaryRune?.slot2[0].name}}">
    <h5>{{  primaryRune?.slot2[0].name }}</h5>
    <p [innerHTML]="primaryRune?.slot2[0].comments"></p>

    <!-- Zombie Ward -->
    <img [src]="secondaryRune?.slot2[0].image" alt="{{secondaryRune?.slot2[0].name}}">
    <h5>{{  secondaryRune?.slot2[0].name }}</h5>
    <p [innerHTML]="secondaryRune?.slot2[0].comments"></p>

    <!-- Ingenious Hunter -->
    <img [src]="secondaryRune?.slot3[1].image" alt="{{secondaryRune?.slot3[1].name}}">
    <h5>{{  secondaryRune?.slot3[1].name }}</h5>
    <p [innerHTML]="secondaryRune?.slot3[1].comments"></p>

    <!-- <p>{{dominationTest.name}}</p>
    <p>{{dominationTest.keystone[0].name}}</p> -->

  </div>
</div>
