<div class="article-container">
  <h4>Utility Runes</h4>
  <h6>This page works best for players who look to get ahead in lane and transition into a "traditional" support role</h6>
  <app-runes-utility-element></app-runes-utility-element>
  <div class="content-container">

    <h4>Rune Page Highlights</h4>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-keystone-1.png" alt="Summon Aery Keystone Icon"/>
    <h5>Summon Aery</h5>
    <p>Summon Aery is a solid keystone for supports with poke and buffs. The extra damage early in lane does add up, and also the shield triggers when you use Time Warp on allies. This can be used to stop a small amount of damage to an ally or proc certain items like <img class="image-inline-sm" src="./assets/images/items/athenes-unholy-grail.png" alt="Athene's Unholy Grail Icon"/> Athene's Unholy Grail or <img class="image-inline-sm" src="./assets/images/items/ardent-censer.png" alt="Ardent Censer Icon"/> Ardent Censer.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-1-2.png" alt="Manaflow Band Icon"/>
    <h5>Manaflow Band</h5>
    <p>Manaflow Band is incredible because it gives a free spell and returns a percentage of your empty mana every minute. This is crucial in lane where you don't have mana or mana regen items.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-2-1.png" alt="Transcendence Icon"/>
    <h5>Transcendence</h5>
    <p>Transcendence is an all-star because it gives a free 10% CDR, and turns extra CDR into AP. This is great because it accelerates the pace toward 40% CDR, and adds value for exceeding the CDR cap of 40%.</p>

    <img class="" src="../assets/images/runes/icons/domination/domination-slot-2-1.png" alt="Zombie Ward Icon"/>
    <h5>Zombie Ward</h5>
    <p>Zombie Ward is fantastic because it gives you free wards and punishes enemies for not checking ward locations.</p>

    <img class="" src="../assets/images/runes/icons/domination/domination-slot-3-2.png" alt="Ingenious Hunter Icon"/>
    <h5>Ingenious Hunter</h5>
    <p>This talent is incredible if you are using multiple activated items in your build. This talent almost cuts their cooldown in half, which supercharges the value of these items. Items of choice include:
      <img class="image-inline-sm" src="./assets/images/items/banner-of-command.png" alt="Banner of Command Icon"/> Banner of Command,
      <img class="image-inline-sm" src="./assets/images/items/frost-queens-claim.png" alt="Frost Queen's Claim Icon"/> Frost Queen's Claim,
      <img class="image-inline-sm" src="./assets/images/items/zzrot-portal.png" alt="ZZ'Rot Portal Icon"/> ZZ'Rot Portal,
      <img class="image-inline-sm" src="./assets/images/items/redemption.png" alt="Redemption Icon"/> Redemption,
      <img class="image-inline-sm" src="./assets/images/items/locket-of-the-iron-solari.png" alt="Locket of the Iron Solari Icon"/> Locket of the Iron Solari.</p>

      <h5>{{  domination?.keystone[0].name }}</h5>
      <img [src]="domination?.keystone[0].image" alt="{{domination?.keystone[0].name}}">
      <p [innerHTML]="domination?.keystone[0].comments"></p>
  </div>
</div>
