<div class="article-container">
  <h4>Tank Item Build Overview</h4>
  <app-items-tank-element></app-items-tank-element>

  <h5>Build Objectives:</h5>
  <p>Building tanky on Zilean usually means that you want to survive teamfights and play closer to the front line. This allows you to have safer engagments with Righteous Glory + Time Warp on yourself.</p>
  <p>This build does not do much damage, but does an excellent job being a Crowd Control threat.</p>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild1">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Coin is the best option because you will be playing reactively in lane, meaning that you will not be the aggressor. Your goal is to survive lane and get enough of an income to buy defensive items.</p>
  </div>
  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild2">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Upgrade your Coin and then buy Sightsotne, after that build a Glacial Shroud for the extra mana and CDR. This should help you take a few hits from the enemy ADC.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild3">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Righteous Glory is a great item for creating a pick, and most people don't expect Zilean speeding in at over 700 MS with a plethora of slows. Knight's Vow is a great defensive item to protect a carry, and also gives you CDR and life to survive even longer.</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Tank)</h5>
    <app-items-tank-element></app-items-tank-element>
    <p>Wrapping the build out with a Locket of the Iron Solari is a great idea because you have a decent amount of extra health to make the shield larger. These tanky items give you a much higher chance to escape from a fight, and encourage you to use your ultimate on carries rather than yourself.</p>
  </div>

  <div class="">
    <h5>Optional Utility Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild4">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
<!-- <pre class="item-code">
  <code [innerHTML]="itemSetCode" id="itemSet"></code>
</pre> -->
</div>
