<div class="article-container">
  <h4>Tank Item Build Overview</h4>
  <app-items-tank-element></app-items-tank-element>

  <button class="btn btn-default toggle-btn" (click)="onToggleAlternate()">Toggle Runes</button>

  <div *ngIf="alternateView">
    <h5>Recommended Runes</h5>
    <app-runes-defensive-element></app-runes-defensive-element>
  </div>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild1">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild2">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild3">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Tank)</h5>
    <app-items-tank-element></app-items-tank-element>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="">
    <h5>Optional Utility Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild4">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
<!-- <pre class="item-code">
  <code [innerHTML]="itemSetCode" id="itemSet"></code>
</pre> -->
</div>
