<div class="container-fluid">
  <div class="container">
    <h1>Support Carry Zilean</h1>
    <h5>Updated for Patch 8.2 Content</h5>
    <div class="content-container">

    <a routerLink="/guides" class="guides-button">Go To Guides</a>

      <div class="video-block">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/56RDcEzmJe0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>

    <div class="content-container">
				<h3>What makes Zilean so special?</h3>
				<p>Zilean is a combo mage that provides massive utility to the team through offensive and defensive spell combinations. He is the only mage in the game with only a single damaging spell.</p>
				<p>Zilean has the ability to do an AoE stun that last 1.5 seconds, a 99% slow that last for 2.5 seconds (or a 99% speed buff), and the ability to resurrect a champion that has taken fatal damage who will return with a moderate amount of health.</p>
				<p><span>At the core, Support Zilean needs two things: enough mana to cast spells and enough cooldown reduction to quickly recast spells.</span>
				</p>
				<p>Many of the utility based items are cheap enough that so an optimal support build attained in a 30+ minute game. There are also options to build damage and be an AP threat later in the game.</p>
				<p>By being able to control the tempo of battle through slows, stuns, and the occasional feigned death, Zilean is a powerful utility champion.</p>
				<p>The guides on this website focus on Zilean being the Support role, but many of the supportive ideologies can be transitioned into the Mid and Top lane positions as well (the laning phase will be drastically different, but the general role within teamfighting is the same).</p>
      </div>
  </div>
</div>
