<div class="article-container">
  <h4>Split Push Runes</h4>
  <h6>This page is used when you want to be a lane bully and transition into a damage threat</h6>
  <app-runes-split-push-element></app-runes-split-push-element>

  <div class="video-block">
    <div class="embed-container">
      <iframe src="https://www.youtube.com/embed/kmErFE0VVfk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="content-container">
    <h4>Rune Page Highlights</h4>

    <!-- Predator -->
    <img [src]="primaryRune?.keystone[1].image" alt="{{primaryRune?.keystone[1].name}}">
    <h5>{{  primaryRune?.keystone[1].name }}</h5>
    <p [innerHTML]="primaryRune?.keystone[1].comments"></p>

    <!-- Cheap Shot -->
    <img [src]="primaryRune?.slot1[0].image" alt="{{primaryRune?.slot1[0].name}}">
    <h5>{{  primaryRune?.slot1[0].name }}</h5>
    <p [innerHTML]="primaryRune?.slot1[0].comments"></p>

    <!-- Zombie Ward -->
    <img [src]="primaryRune?.slot2[0].image" alt="{{primaryRune?.slot2[0].name}}">
    <h5>{{  primaryRune?.slot2[0].name }}</h5>
    <p [innerHTML]="primaryRune?.slot2[0].comments"></p>

    <!-- Ingenious Hunter -->
    <img [src]="primaryRune?.slot3[1].image" alt="{{primaryRune?.slot3[1].name}}">
    <h5>{{  primaryRune?.slot3[1].name }}</h5>
    <p [innerHTML]="primaryRune?.slot3[1].comments"></p>

    <!-- Manaflow Band -->
    <img [src]="secondaryRune?.slot1[1].image" alt="{{secondaryRune?.slot1[1].name}}">
    <h5>{{  secondaryRune?.slot1[1].name }}</h5>
    <p [innerHTML]="secondaryRune?.slot1[1].comments"></p>

    <!-- Transcendence -->
    <img [src]="secondaryRune?.slot2[0].image" alt="{{secondaryRune?.slot2[0].name}}">
    <h5>{{  secondaryRune?.slot2[0].name }}</h5>
    <p [innerHTML]="secondaryRune?.slot2[0].comments"></p>

  </div>

</div>
