<div class="article-container">
  <h4>Split Push Runes</h4>
  <h6>This page is used when you want to be a lane bully and transition into a damage threat</h6>
  <app-runes-split-push-element></app-runes-split-push-element>

  <div class="video-block">
    <div class="embed-container">
      <iframe src="https://www.youtube.com/embed/kmErFE0VVfk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="content-container">
    <h4>Rune Page Highlights</h4>

    <img class="" src="../assets/images/runes/icons/domination/domination-keystone-2.png" alt="Predator Icon"/>
    <h5>Predator</h5>
    <p>Predator gives you a big boost of out-of-combat MS for 15 seconds. This is very useful for traversing between lanes or getting back to the fight earlier. The cooldown is affected by <img class="image-inline-sm" src="./assets/images/runes/icons/domination/domination-slot-3-2.png" alt="Ingenious Hunter Icon"/> Ingenious Hunter, and can be reduced to around 45 seconds.</p>

    <img class="" src="../assets/images/runes/icons/domination/domination-slot-2-1.png" alt="Zombie Ward Icon"/>
    <h5>Zombie Ward</h5>
    <p>Zombie Ward is fantastic because it gives you free wards and punishes enemies for not checking ward locations.</p>

    <img class="" src="../assets/images/runes/icons/domination/domination-slot-3-2.png" alt="Ingenious Hunter Icon"/>
    <h5>Ingenious Hunter</h5>
    <p>This talent is incredible if you are using multiple activated items in your build. This talent almost cuts their cooldown in half, which supercharges the value of these items. Items of choice include:
      <img class="image-inline-sm" src="./assets/images/items/banner-of-command.png" alt="Banner of Command Icon"/> Banner of Command,
      <img class="image-inline-sm" src="./assets/images/items/frost-queens-claim.png" alt="Frost Queen's Claim Icon"/> Frost Queen's Claim,
      <img class="image-inline-sm" src="./assets/images/items/zzrot-portal.png" alt="ZZ'Rot Portal Icon"/> ZZ'Rot Portal,
      <img class="image-inline-sm" src="./assets/images/items/redemption.png" alt="Redemption Icon"/> Redemption,
      <img class="image-inline-sm" src="./assets/images/items/locket-of-the-iron-solari.png" alt="Locket of the Iron Solari Icon"/> Locket of the Iron Solari.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-1-2.png" alt="Manaflow Band Icon"/>
    <h5>Manaflow Band</h5>
    <p>Manaflow Band is incredible because it gives a free spell and returns a percentage of your empty mana every minute. This is crucial in lane where you don't have mana or mana regen items.</p>

    <img class="" src="../assets/images/runes/icons/sorcery/sorcery-slot-2-1.png" alt="Transcendence Icon"/>
    <h5>Transcendence</h5>
    <p>Transcendence is an all-star because it gives a free 10% CDR, and turns extra CDR into AP. This is great because it accelerates the pace toward 40% CDR, and adds value for exceeding the CDR cap of 40%.</p>
  </div>

</div>
