<div class="article-container">
  <h4>Q Max Order</h4>
  <h6>Maxing Time Bomb is the most typical order for most players.</h6>
  <app-skill-q-max-element></app-skill-q-max-element>
  <p>The typical max order prioritizes Q -> W -> R -> E because this allows you the most opportunities to throw Time Bombs.</p>
  <p>At higher elo, Zilean mains tend to max E second and W last because the power of a 99% is more important than being able to cast Double Bombs more times.</p>
  <!-- <p>The maxing Q plan works best with an <a routerLink="guides/playstyle">Aggressive Playstyle</a> and a <a routerLink="guides/items">Damage Focused Item Build</a> -->
</div>
