<button class="btn btn-default toggle-btn" (click)="onToggle()">Toggle Details</button>
  <div *ngIf="toggled" class="element-center image-full">
    <a [href]="imagesHD.detailed" target="_blank"><img [src]="images.detailed"/></a>
  </div>
  <div *ngIf="!toggled" class="element-center image-full">
    <a [href]="imagesHD.brief" target="_blank"><img [src]="images.brief"/></a>
</div>

<div>
  <div *ngFor="let masteryRow of masteryArray; let i of index">
    <img *ngFor="let masteryItem of masteryRow" [src]="masteryItem.src">
  </div>
</div>
