<button class="btn btn-default toggle-btn" (click)="onToggle()">Toggle Details</button>
  <div *ngIf="toggled" class="element-center image-full">
    <a [href]="imagesHD.detailed" target="_blank"><img [src]="images.detailed"/></a>
  </div>
  <div *ngIf="!toggled" class="element-center image-full">
    <a [href]="imagesHD.brief" target="_blank"><img [src]="images.brief"/></a>
</div>

<div>
  <button class="btn btn-default" (click)="onToggleDescription()">Toggle Description</button>
  <div class="masteryContainer">
    <div *ngFor="let masteryRow of masteryArrayPrimary; let i of index"  class="masteryRow">
      <div *ngFor="let masteryItem of masteryRow" class="masteryItem">
        <img [src]="masteryItem.src" [ngClass]="{highlight: masteryItem.highlight}" />
        <span class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: masteryItem.highlight}">{{masteryItem.description}}</span>
      </div>
    </div>
  </div>
</div>
