<button class="btn btn-default toggle-btn" (click)="onToggleDescription()">Toggle Rune Details</button>
<div class="runeWrapper">

  <div class="runeContainer" ngClass="{{primaryRune?.name}}Bg">

    <div class="runeHeader">
      <img [src]="primaryRune?.primaryImage" alt="{{primaryRune?.name | titlecase }} Icon">
      <h5>Primary</h5>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primaryRune?.keystone" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primaryRune?.slot1" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primaryRune?.slot2" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primaryRune?.slot3" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="runeContainer" ngClass="{{secondaryRune?.name}}Bg">

    <div class="runeHeader">
      <img [src]="secondaryRune?.primaryImage" alt="{{secondaryRune?.name | titlecase }} Icon">
      <h5>Secondary</h5>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondaryRune?.slot1" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondaryRune?.slot2" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondaryRune?.slot3" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
