<h4>R - Chronoshift</h4>
<p>A brief description of the abtility</p>
<div class="skill-table">
  <table>
    <tr>
      <th>Rank</th>
      <th>Mana Cost</th>
      <th>Heal on Res</th>
      <th>Cooldown</th>
    </tr>
    <tr>
      <td>Rank 1</td>
      <td>125</td>
      <td>600 + (2 * AP)</td>
      <td>120 sec</td>
    </tr>
    <tr>
      <td>Rank 2</td>
      <td>150</td>
      <td>850 + (2 * AP)</td>
      <td>90 sec</td>
    </tr>
    <tr>
      <td>Rank 3</td>
      <td>175</td>
      <td>1100 + (2 * AP)</td>
      <td>60 sec</td>
    </tr>
  </table>
</div>

<h5>Time Bomb: Mechanics</h5>
<p>Talk about the mechanics of the spell: the out-of-combat timer, the circle below allies, the channel time.</p>

<p>This is where you could add some video element that demonstrates the different ways that you can use Time Bomb</p>

<p>Mana Conservation</p>
