.container-fluid {
  min-height: 80vh;
  @include background-light-bg;
  padding:1em 0;
}

.content-container {

}

.article-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.article-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

// Used in Runes
.image-full img {
  max-width: 75vw;
  @include border-shadow;
}
