.container-fluid {
  min-height: 80vh;
  @include background-light-bg;
  padding:1em 0;
}


// Used for content centered within components
.content-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image-inline-sm {
    width:1.2em;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .image-inline-md {
    width:2em;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

.article-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.article-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

// Used in Runes
.image-full img {
  min-width: 50vw;
  max-width: 75vw;
  @include border-shadow;
}

.item-build-container {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    @include border-shadow;
    margin: .5em;
  }
}

.discussion-container {
  background: $fade-light-bg;
  padding: 1em;
  @include border-shadow;
  .image-versus {
    display:flex;
    justify-content: center;
    img {
      width: 75px;
      height: 75px;
      margin: 0 1em;
      background: black;
      border-radius: 50%;
    }
  }
}
