<footer class="footer">
  <ul>
    <li><a routerLink="about">About</a></li>
  </ul>
  <ul class="footer-end">
    <li><a href="//twitter.com/BombRewindBomb" target="_blank"><fa name="twitter-square"></fa></a></li>
    <li><a href="//www.youtube.com/SupportCarryZilean" target="_blank"><fa name="youtube-square"></fa></a></li>
    <li><a href="//www.linkedin.com/in/jeremiahnyman" target="_blank"><fa name="linkedin-square"></fa></a></li>
    <li><a href="//github.com/UXJera" target="_blank"><fa name="github-square"></fa></a></li>
    <li><span>Designed by <a href="//www.twitter.com/UX_Jera" target="_blank">@UX_Jera</a> 2018</span></li>
  </ul>
</footer>
