
<div class="article-container">
  <h4>Utility Item Build Overview</h4>
  <app-items-utility-element></app-items-utility-element>
  <h5>Build Objectives:</h5>
  <p>This item set-up is great for playing the "Tradtional" Support role, offers more utility than damage. The build excels if your team has enough damage deals (very common in SoloQ) and you need to push the team over across the line with extra heals, shields and the inherent utility that Zilean has to offer.</p>
  <p>This build should help you become more comfortable with using active items (if you are not used to it).</p>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild1">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>This is a pretty generic start that gives you a little extra power in lane. If you are playing against a lane that has little pressure, start Refillable Potion; otherwise start 3 Potions.</p>
    <p>You can switch out <img class="image-inline-sm" src="./assets/images/items/spellthiefs-edge.png" alt="Spellthief's Edge Icon"/> Spellthief's Edge for <img class="image-inline-sm" src="./assets/images/items/ancient-coin.png" alt="Ancient Coin Icon"/> Ancient Coin if you are against a poke or sustain lane and want to maximize your income, while still reserving mana for counterplay.</p>
  </div>
  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild2">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>On your first back, you should upgrade Support Item and pick up 1 or 2 <img class="image-inline-sm" src="./assets/images/items/faerie-charm.png" alt="Faerie Charm Icon"/> Faerie Charms. Your next buy will be Forbidden Idol which builds into either Ardent Censer or Redemption.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild3">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>If you rushed Ardent Censer, your next item is Redemption which is easily attainable wich cheap components. If you went Redemption first, you can move to the next section.</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Utility)</h5>
    <app-items-utility-element></app-items-utility-element>
    <p>Once you have completed Redemption, your next item will be Locket of the Iron Solari. The defensive stats and active from Locket help improve your personal survival and helps soak teamfight damage when used properly. Hold off on upgrading the Frostfang for as long as you can, because the extra ward and stats are not as important.</p>
  </div>

  <div class="">
    <h5>Optional Utility Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild4">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>These are defensive options that you can build depending on the enemy team composition. For instance, take Mikael's Crucible if the enemy team has an abundance of Crowd Control, or are looking for a single target to engage on (stopping the initial CC along with Time Warp should be enough to stop an enemy engage).</p>
  </div>
</div>
