
<div class="article-container">
  <h4>Utility Item Build Overview</h4>
  <app-items-utility-element></app-items-utility-element>

  <p>This item set-up is great for playing the "Tradtional" Support role, offers more utility than damage. The build excels if your team has enough damage deals (very common in SoloQ) and you need to push the team over across the line with extra heals, shields and the inherent utility that Zilean has to offer.</p>
  <p>This build should help you become more comfortable with using active items (if you are not used to it).</p>

  <h5>Recommended Runes</h5>

  <button class="btn btn-default toggle-btn" (click)="onToggleAlternate()">Toggle Runes</button>

  <div *ngIf="alternateView">
    <app-runes-utility-element></app-runes-utility-element>
  </div>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild1">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>This is a pretty generic start that gives you a little extra power in lane. If you are playing against a lane that has little pressure, start Refillable Potion; otherwise start 3 Potions.</p>
  </div>
  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild2">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Your first back should get you the upgraded gold item, then you'll want to build Sightstone and Boots. If you are having trouble sustaining mana, buy a Chalice of Harmony, it will build into Athene's Unholy Grail.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild3">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>The objective is to reach max CDR (40%) as soon as possible. You have some options about which of these items you can complete first, Athenes' first is a well-rounded option because you can give extra healing from Summon Aery + Time Warp (on ally).</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Utility)</h5>
    <app-items-utility-element></app-items-utility-element>
    <p>This ending build has plenty of active items that work well in team fights. This build does play in the back-line protecting carries, so be sure to protect them first.</p>
  </div>

  <div class="">
    <h5>Optional Utility Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild4">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>These are defensive options that you can build depending on the enemy team composition. For instance, take Mikael's Crucible if the enemy team has an abundance of Crowd Control, or are looking for a single target to engage on (stopping the initial CC along with Time Warp should be enough to stop an enemy engage).</p>
  </div>
</div>
