<h4>Passive: Heightened Learning</h4>

<div class="spell-description">
  <p><span>Range: </span>1000</p>
  <p><span>Spell Description: </span> Zilean generates experience (based on level) every 5 seconds, which does not advance his own level.</p>
  <p>When Zilean has enough to level up an allied champion and is out of combat for 10 seconds, you can right-click them for a 2 second channel, after which he grants them enough experience to finish their level and Zilean receives the same amount.</p>
  <p>A small circle beneath allied champions indicates how close they are to the next level. If the circle is full, you can grant that champion an extra level.</p>
  <p>If you interrupt the channel, Time in a Bottle goes on cooldown for 2 seconds. If you are interrupted by an enemy champion, Time in a Bottle goes on cooldown for 10 seconds.</p>
  <p>Time in the Bottle can be active at 2 minutes and starts with 48 XP.</p>
</div>

<h6>Heightened Learning Passive Information</h6>

<div class="spell-table">
  <table>
    <tr>
      <th>Levels</th>
      <th>XP Gain</th>
      <th>Bonus XP / Min</th>
    </tr>
    <tr *ngFor="let row of spellData">
      <td>{{row.levels}}</td>
      <td>{{row.xpGain}} XP / 5 sec</td>
      <td>{{row.xpGain * 12}} XP / Min</td>
    </tr>
  </table>
</div>

<h5>Early Game Usage</h5>

<p> Most of the time, you'll want to save the passive for the level 2 -> 3 transition. The reason is that it opens up your full kit with the slow.</p>
<p><span>Do not use the passive to level from 1 -> 2.</span> The xp gained at that time is equivalent to 1 ranged minion, plus the cooldown makes you miss the level 2 -> 3 level gain.</p>

<h5>Prioritizing Passive in the Mid-Game</h5>

<p>Generally, you want to use this on someone who can get another rank in an ultimate (11,16) and also on your jungler to have a stronger smite.</p>
<p>After that, you can either give XP to the highest level player (if you are ahead) or to your lowest level player (if you are behind).</p>
