<h4>Passive: Heightened Learning</h4>

<div class="spell-description">
  <p><span>Range: </span>1000</p>
  <p><span>Spell Description: </span> Zilean generates experience (based on level) every 5 seconds, which does not advance his own level.</p>
  <p>When Zilean has enough to level up an allied champion and is out of combat for 10 seconds, you can right-click them for a 2 second channel, after which he grants them enough experience to finish their level and Zilean receives the same amount.</p>
  <p>If you interrupt the channel, Time in a Bottle goes on cooldown for 2 seconds. If you are interrupted by an enemy champion, Time in a Bottle goes on cooldown for 10 seconds.</p>
  <p>Time in the Bottle can be active at 2 minutes and starts with 48 XP.</p>
</div>

<h6>Heightened Learning Passive Information</h6>

<div class="spell-table">
  <table>
    <tr>
      <th>Levels</th>
      <th>XP Gain</th>
      <th>Bonus XP / Min</th>
    </tr>
    <tr>
      <td>1 - 5</td>
      <td>2 xp / 5 sec</td>
      <td>24 xp / min</td>
    </tr>
    <tr>
      <td>6 - 10</td>
      <td>3.5 xp / 5 sec</td>
      <td>42 xp / min</td>
    </tr>
    <tr>
      <td>11 - 15</td>
      <td>5 xp / 5 sec</td>
      <td>60 xp / min</td>
    </tr>
    <tr>
      <td>16 & 17</td>
      <td>6 xp / 5 sec</td>
      <td>72 xp / min</td>
    </tr>
    <tr>
      <td>18</td>
      <td>12 xp / 5 sec</td>
      <td>144 xp / min</td>
    </tr>
  </table>
</div>

<h5>Heightened Learning: Mechanics</h5>
<p>Zilean generates 2 / 3.5 / 5 / 6 / 12 experience (does not count towards level up) every 5 seconds. Time in a Bottle is on cooldown when the game starts.</p>
<p>When the amount stored is enough to level up an allied champion and Zilean has been out of combat for the last 10 seconds, he can right-click the target ally to initiate a 1 second channel (if interrupted, Time in a Bottle goes on a reduced cooldown)</p>
<p>A successful channel levels up the target and grants Zilean the stored amount as experience of his own.</p>
<h5>Early Game Usage</h5>
<p>Save it for the level 2->3 transition</p>
<h5>Who to use the passive on in the mid-game</h5>
<p>Generally, you want to use this on someone who can get another rank in an ultimate (11,16) and also on your jungler to have a stronger smite.</p>
