<h4>Passive: Heightened Learning</h4>
<p>A brief description of the abtility</p>
<p>Chart that shows the XP changes over levels go here.</p>
<h5>Heightened Learning: Mechanics</h5>
<p>Talk about the mechanics of the spell: the out-of-combat timer, the circle below allies, the channel time.</p>
<h5>Early Game Usage</h5>
<p>Save it for the level 2->3 transition</p>
<h5>Who to use the passive on in the mid-game</h5>
<p>Generally, you want to use this on someone who can get another rank in an ultimate (11,16) and also on your jungler to have a stronger smite.</p>
