<h4>Q - Time Bomb</h4>

<div class="spell-description">
  <p><span>Spell Description: </span> Zilean throws a ticking time bomb to the target location that detonates after 3 seconds, dealing magic damage to all surrounding enemies.</p>
  <p>	If a unit is near a Time Bomb as it lands or has already landed, they pick it up and become the holder, causing it to detonate at their location at the end of its duration.</p>
  <p>If a bomb holder picks up another Time Bomb, the first bomb immediately detonates and briefly stuns all affected enemies.</p>
  <div class="spell-row">
    <div class="half-row">
      <img src="./assets/images/skills/time-bomb-range.jpg">
    </div>
    <div class="text-center half-row">
        <p><span>Range: </span> <br><span class="red-text">900 (skillshot)</span><br><span class="blue-text">300 (blast radius)</span><br><span class="yellow-text">100 (bomb attach radius)</span></p>
      <p><span>Cast Delay: </span> .25 second animation of casting</p>
      <p><span>Travel Delay:</span> .5 seconds at max range</p>
      <p class="text-center"><span>Bombs attach to targets in order of priority:</span></p>
      <ul>
        <li>Any Unit Carrying a Bomb</li>
        <li>Enemy Champions</li>
        <li>Allied Champions</li>
        <li>Enemy Minions</li>
        <li>Allied Minions</li>
      </ul>
    </div>
  </div>
</div>

<h6>Time Bomb Spell Rank Information</h6>

<div class="spell-table">
  <table>
    <tr>
      <th>Rank</th>
      <th>Mana Cost</th>
      <th>Damage</th>
      <th>Cooldown</th>
      <th>Stun</th>
    </tr>
    <tr>
      <td>Rank 1</td>
      <td>60</td>
      <td>75 + (.9 * AP)</td>
      <td>10 sec</td>
      <td>1.1 sec</td>
    </tr>
    <tr>
      <td>Rank 2</td>
      <td>65</td>
      <td>115 + (.9 * AP)</td>
      <td>9.5 sec</td>
      <td>1.2 sec</td>
    </tr>
    <tr>
      <td>Rank 3</td>
      <td>70</td>
      <td>165 + (.9 * AP)</td>
      <td>9 sec</td>
      <td>1.3 sec</td>
    </tr>
    <tr>
      <td>Rank 4</td>
      <td>75</td>
      <td>230 + (.9 * AP)</td>
      <td>8.5 sec</td>
      <td>1.4 sec</td>
    </tr>
    <tr>
      <td>Rank 5</td>
      <td>80</td>
      <td>300 + (.9 * AP)</td>
      <td>8 sec</td>
      <td>1.5 sec</td>
    </tr>
  </table>
</div>

<h5>Time Bomb: Mechanics</h5>
<p>Talk about the mechanics of the spell: the out-of-combat timer, the circle below allies, the channel time.</p>

<p>This is where you could add some video element that demonstrates the different ways that you can use Time Bomb</p>

<p>Mana Conservation</p>
