<button class="btn btn-default toggle-btn" (click)="onToggleDescription()">Toggle Rune Details</button>
<div class="runeWrapper">

  <div class="runeContainer" ngClass="{{primarySplitPushRune?.name}}Bg">

    <div class="runeHeader">
      <img [src]="primarySplitPushRune?.primaryImage" alt="{{primarySplitPushRune?.name | titlecase }} Icon">
      <h5>Primary</h5>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primarySplitPushRune?.keystone" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primarySplitPushRune?.slot1" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primarySplitPushRune?.slot2" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of primarySplitPushRune?.slot3" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightPrimary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightPrimary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="runeContainer" ngClass="{{secondarySplitPushRuneRune?.name}}Bg">

    <div class="runeHeader">
      <img [src]="secondarySplitPushRuneRune?.primaryImage" alt="{{secondarySplitPushRuneRune?.name | titlecase }} Icon">
      <h5>Secondary</h5>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondarySplitPushRuneRune?.slot1" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondarySplitPushRuneRune?.slot2" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>

    <div class="runeRow">
      <div *ngFor="let runeItem of secondarySplitPushRuneRune?.slot3" class="runeItem">
        <img [src]="runeItem.image" [ngClass]="{highlight: runeItem.highlightSecondary}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlightSecondary}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
