<button class="btn btn-default toggle-btn" (click)="onToggleDescription()">Toggle Rune Details</button>
<div class="runeWrapper">
  <div class="runeContainer">
    <div class="runeHeader">
      <img [src]="runePrimarySrc" alt="Inspiration Icon">
      <h5>Primary</h5>

    </div>
    <div *ngFor="let runeRow of runeArrayPrimary; let i of index"  class="runeRow">
      <div *ngFor="let runeItem of runeRow" class="runeItem">
        <img [src]="runeItem.src" [ngClass]="{highlight: runeItem.highlight}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlight}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="runeContainer">
    <div class="runeHeader">
      <img [src]="runeSecondarySrc" alt="Resolve Icon">
      <h5>Secondary</h5>

    </div>
    <div *ngFor="let runeRow of runeArraySecondary; let i of index"  class="runeRow">
      <div *ngFor="let runeItem of runeRow" class="runeItem">
        <img [src]="runeItem.src" [ngClass]="{highlight: runeItem.highlight}" />
        <div class="description" *ngIf="toggleDescription" [ngClass]="{descHighlight: runeItem.highlight}">
          <h5>{{runeItem.name}}</h5>
          <p>{{runeItem.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
