<nav class="navbar navbar-light bg-dark">
  <div class="w-100">
    <ul class="nav nav-pills justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/articles/cdr">CDR Information</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/guides/items">Item Builds</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/guides/spells">Spell Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/guides/playstyle">Playstyles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/guides/matchups">Matchups</a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
