<nav class="navbar navbar-light nav-background">
  <a routerLink="/" class="navbar-brand">
    <img src="/assets/images/skills/zil-icon.png" alt="Zilean Champion Icon" />
    Support Carry Zilean
  </a>
  <div class="justify-content-end">
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/guides">Guides</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/articles">Articles</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/gameplay">Gameplay</a>
      </li>
    </ul>
  </div>
</nav>
