<div class="article-container">
  <h4>AP / Damage Item Build Overview</h4>
  <app-items-damage-element></app-items-damage-element>

  <button class="btn btn-default toggle-btn" (click)="onToggleAlternate()">Toggle Runes</button>

  <div *ngIf="alternateView">
    <h5>Recommended Runes</h5>
    <app-runes-offensive-element></app-runes-offensive-element>

    <p>The damage build is the most common build and its goals are to win lane and be a damage threat. This build works best in Gold elo and below, because most people don't know how to play against Zilean.</p>
    <p>This is arguably the most fun build to play, but does not work out well if you fall behind.</p>
  </div>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild1">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>The starter items are intuitive, and you're going to want to be careful on how much mana you expend in lane. Also only go for Double Bombs if you can ensure a kill or you need an escape. Use Single Bombs to poke out enemies.</p>
  </div>
  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild2">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Be sure to upgrade Spellthiefs before Sightston. You'll want to pick up a mana item early, so either buy Lost Chapter (rushing Morellonomicon) or Tear of the Goddess.</p>
    <p>Tear is a playstyle item for most Zilean mains which allows a liberal use of spells. It is possible to manage mana WITHOUT Tear, but it takes conscious effort to do so. There is nothing wrong about taking Tear, or not taking Tear. It is merely a playstyle differentiation.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild3">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>Morello or fully upgraded Sightstone should be your first completed major item, with upgraded boots not long after. Complete the other item next. This offers you extra mana, CDR and the extra ward slot to help with vision.</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Offense)</h5>
    <app-items-damage-element></app-items-damage-element>
    <p>This set of items will make you a considerable damage threat, especially those without Magic Resist. If the enemies are stacking MR, swap out Liandri's with Void Staff.</p>
    <p>Rabadon's should be your second to last completed item because it deson't offer as much scaling before that.</p>
  </div>

  <div class="">
    <h5>Optional Defensive Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuild4">
        <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
      </li>
    </ul>
    <p>These items do take away some of the damage, but offer utility to the team. Zilean's damage is greatly reduced by Magic Resist, and hitting back-line targets is very hard in teamfights. These items allow you to survive longer so you can save your ultimate for carries or a hyper tank.</p>
  </div>


</div>
