<div class="article-container">
  <h4>AP / Damage Item Build Overview</h4>
  <app-items-damage-element></app-items-damage-element>

  <div class="">
    <h5>Build Objectives:</h5>
    <p>This Item build is full offense where you will be focusing on damage threat and relying on your skills to assist the team. <br>Do note that this build has a hard time if you fall behind, or if the enemies build magic resist.</p>
  </div>

  <div class="">
    <h5>Starting Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuildStart">
        <a href="{{item.link}}" target="_blank">
          <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
        </a>
      </li>
    </ul>
    <p>The starter items are intuitive, and you're going to want to be careful on how much mana you expend in lane. Also only go for Double Bombs if you can ensure a kill or you need an escape. Use Single Bombs to poke out enemies.</p>
  </div>

  <div class="">
    <h5>Early Game Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuildEarly">
        <a href="{{item.link}}" target="_blank">
          <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
        </a>
      </li>
    </ul>
    <p>On the first back you should Frostfang and start working on your mana item. If you are newer to Zilean, pick up a Tear of the Goddess. For more experienced players, skip the Tear and buy Lost Chapter.</p>
    <p class="italic">Tear is a playstyle item for most Zilean mains which allows a liberal use of spells. It is possible to manage mana WITHOUT Tear, but it takes conscious effort to do so. There is nothing wrong about taking Tear, or not taking Tear. It is merely a playstyle differentiation.</p>
  </div>

  <div class="">
    <h5>Mid Game Core Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuildMid">
        <a href="{{item.link}}" target="_blank">
          <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
        </a>
      </li>
    </ul>
    <p>Your first major item to complete is Morellonomicon. It provides enough CDR and mana to help you in the mid game. You shouldn't need to upgrade Frostfang unless you really need the extra ward for vision, otherwise put that 950g towards your next damage item, or Sorcerer's Shoes.</p>
  </div>

  <div class="">
    <h5>End Game Items (Full Offense)</h5>
    <app-items-damage-element></app-items-damage-element>
    <p>This set of items will make you a considerable damage threat, especially those without Magic Resist. If the enemies are stacking MR, swap out Liandri's with Void Staff.</p>
    <p>Rabadon's should be your second to last completed item because it deson't offer as much scaling before that.</p>
  </div>

  <div class="">
    <h5>Optional Defensive Items</h5>
    <ul class="item-build-container">
      <li *ngFor="let item of itemBuildOptional">
        <a href="{{item.link}}" target="_blank">
          <img src="{{item.img}}" alt="{{item.name}}" [ngClass]="{optional: item.optional}"/>
        </a>
      </li>
    </ul>
    <p>These items do take away some of the damage, but offer utility to the team. Zilean's damage is greatly reduced by Magic Resist, and hitting back-line targets is very hard in teamfights. These items allow you to survive longer so you can save your ultimate for carries or a hyper tank.</p>
  </div>


  <!-- <div>
    <h5>{{ items.ardentCenser.name }}</h5>
    <img src="{{items.ardentCenser.image}}" [alt]="items.ardentCenser.name">
    <h6>Price:</h6>
    <p>{{ items.ardentCenser.price }}</p>
    <h6>Stats</h6>
    <ul>
      <li *ngFor="let stat of items.ardentCenser.stats" [innerHTML]="stat"></li>
    </ul>
    <h6>Passive</h6>
    <ul>
      <li *ngFor="let passive of items.ardentCenser.passive" [innerHTML]="passive"></li>
    </ul>
  </div> -->

</div>
