@import '~scss/components/mixins/index';

.optional {
  box-shadow: 0 0 10px 10px $yellow;
}

// CONVERT THESE TO SCSS TEMPLATE

.italic {
  font-style: italic;
}

.warning-block {
  background: red;
  @include box-shadow;
  text-align: center;
}

.red {
  background: red;
}
.yellow {
  background: yellow;
}
