<div class="article-container">
  <h4>Hybrid Skill Order</h4>
  <h6>Maxing Time Warp first is one of the most popular skill orders among high elo Zilean Mains.</h6>
  <app-skill-hybrid-element></app-skill-hybrid-element>
  <p>For most, maxing E first is a poor choice because Zilean cannot contribute any damage to trades. But what Zilean does offer is a debilitating slow. Combine that with a high-damage AD carry or a jungle gank, then the true strength of Zilean is revealed.</p>
  <p>When you max E first, you create an artificial zone-of-control where enemy champions dare not enter. Landing a potent slow means a 100% accuracy on Double Bomb (unless they burn a Flash for a 15 second cooldown).</p>
  <p>Certain builds can elect to putting 3 points into Time Bomb to make laning easier, but delaying the massive slow until level 10. Other Zilean mains prefer to spend all points into E, maxing out at level 9.</p>
  <p>This playstyle works best with either a Utility or Tanky Item Build and a Reactive Playstyle.</p>
</div>
