<div class="content-container">
  <div class="container">
    <div class="w-100">
      <ul class="nav justify-content-center align-items-center guides-nav">
        <li
        *ngFor="let item of itemGuides; let i of index"
        [ngClass]="{selected: item.selected === true}"
        class="nav-item">
          <a (click)="onSelect(item)">{{item.name}}</a>
        </li>
      </ul>
    </div>
  <div class="article-heading" *ngIf="componentSelected === undefined">
    <h2>{{ article.title }}</h2>
    <h6>Updated: {{ article.updated }}</h6>

    <a (click)="onSelect(itemGuides[0])"><h5>Full Damage</h5></a>
    <app-items-damage-element></app-items-damage-element>

    <a (click)="onSelect(itemGuides[1])"><h5>Maximum Utility</h5></a>
    <app-items-utility-element></app-items-utility-element>

    <a (click)="onSelect(itemGuides[2])"><h5>Resilient Tank</h5></a>
    <app-items-tank-element></app-items-tank-element>

  </div>

    <app-items-damage *ngIf="componentSelected === itemGuides[0].index"></app-items-damage>
    <app-items-utility *ngIf="componentSelected === itemGuides[1].index"></app-items-utility>
    <app-items-tank *ngIf="componentSelected === itemGuides[2].index"></app-items-tank>

  </div>
</div>
