<div class="content-container">
  <div class="container">
    <div class="w-100">
      <ul class="nav justify-content-center align-items-center guides-nav">
        <li
        *ngFor="let item of itemGuides; let i of index"
        [ngClass]="{selected: item.selected === true}"
        class="nav-item">
          <a (click)="onSelect(item)">{{item.name}}</a>
        </li>
      </ul>
    </div>
  <div class="article-heading" *ngIf="componentSelected === undefined">
    <h2>{{ article.title }}</h2>
    <h6>Last Updated: {{ article.updated }}</h6>
    <div>
      <h5>Which Page Should I Use?</h5>
      <ul>
      <li><span>{{itemGuides[0].name | titlecase}}</span> - When you want versatility in your build or playstyle</li>
      <li><span>{{itemGuides[1].name | titlecase}}</span> - When you want to win your lane and deal lots of damage</li>
      <li><span>{{itemGuides[2].name | titlecase}}</span> - When you want survive and win by controlling champion mobility</li>
      <li><span>{{itemGuides[3].name | titlecase}}</span> - When you want win by pressuring side lanes and activated items</li>
      </ul>
    </div>
  </div>

    <app-runes-utility *ngIf="componentSelected === itemGuides[0].index"></app-runes-utility>
    <app-runes-offensive *ngIf="componentSelected === itemGuides[1].index"></app-runes-offensive>
    <app-runes-defensive *ngIf="componentSelected === itemGuides[2].index"></app-runes-defensive>
    <app-runes-split-push *ngIf="componentSelected === itemGuides[3].index"></app-runes-split-push>


  </div>
</div>
