<div class="container-fluid">
  <div class="container">
    <h3>Who is Support Carry Zilean?</h3>
    <p>I am a High Platinum Zilean main with over 500k Mastery Points, and former analyst to compLexity Gaming back in 2014. Since then, I have moved away from the eSports side of League and more towards content creation and website development.</p>
    <p>You can check my OP.GG here.</p>

    <h3>Are you the best Zilean (NA/EU/Insert Region Here)?</h3>
    <p>No, far from it. I have an interesting playstyle that works well for me and I nararrate my decision-making quite well.</p>
    <p>There are other Zilean mains who are higher rank who I get input from about the current state of Zilean.</p>

    <h3>What are my goals?</h3>
    <p>I would like to help new players learn Zilean and create more Zilean mains. Zilean is a highly underated champion with several playstyles, but most people see him as an Ult bot or "The Guy Who Throws 2 Bombs".</p>

    <h3>The old website had more content, what happened to it?</h3>
    <p>For now, the <a href="http://www.offmeta.support">old website is still live</a>, and most of the articles are still relevant to this day.</p>
    <p>When I remade this website, I wanted to use the AngularJS framework, which has been a challenge because I started from 0. My timeline was to have the website completed by the beginning of Season 8, but in order to do that, I had to cut several supplemental pieces to reach the deadline.</p>
    <p>I still plan on adding more to the website, but for now, most people visit the website for the guides and quick information, rather than the articles. So I wanted to get that taken care of ASAP then worry about new features later.</p>

    <h3>What about streaming?</h3>
    <p>At this time, my computer cannot handle streaming without crashing, so I will stick to YouTube content until I'm able to upgrade the problematic components.</p>
  </div>
</div>
