<h4>E - Time Warp</h4>

<div class="spell-description">
  <p>	<span>Range: </span> 550</p>
  <p>	<span>Spell Description: </span>Zilean bends time around the target champion, slowing them if they are an enemy or granting them bonus movement speed if they are an ally for 2.5 seconds.</p>
  <p>112 movement speed is the absolute minimum that Time Warp can slow.</p>
</div>

<h6>Time Warp Spell Rank Information</h6>

<div class="spell-table">
  <table>
    <tr>
      <th>Rank</th>
      <th>Mana Cost</th>
      <th>Slow / Haste %</th>
      <th>Cooldown</th>
    </tr>
    <tr>
      <td>Rank 1</td>
      <td>50</td>
      <td>40%</td>
      <td>15 sec</td>
    </tr>
    <tr>
      <td>Rank 2</td>
      <td>50</td>
      <td>55%</td>
      <td>15 sec</td>
    </tr>
    <tr>
      <td>Rank 3</td>
      <td>50</td>
      <td>70%</td>
      <td>15 sec</td>
    </tr>
    <tr>
      <td>Rank 4</td>
      <td>50</td>
      <td>85%</td>
      <td>15 sec</td>
    </tr>
    <tr>
      <td>Rank 5</td>
      <td>50</td>
      <td>99%</td>
      <td>15 sec</td>
    </tr>
  </table>
</div>

<h5>Time Bomb: Mechanics</h5>
<p>Talk about the mechanics of the spell: the out-of-combat timer, the circle below allies, the channel time.</p>

<p>This is where you could add some video element that demonstrates the different ways that you can use Time Bomb</p>

<p>Mana Conservation</p>
